/*
* @Author: lenovo
* @Date:   2017-12-05 09:50:55
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-11 15:44:57
*/
*{
	margin: 0;
	padding: 0;
	font-family: "苹果方黑","微软雅黑","宋体",sans-serif;
	font-size: 16px;
	list-style: none;
}
body{
	background: #fff;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}